.container{
    margin: 0;
    padding:0;
    position: relative;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.camera-header{
    height: 70px;
    width:100%;
    flex: none;
}
.camera-content{
    height: 100px;
    width:100%;
    flex: auto;
}
.camera-footer{
    height: 300px;
    width:100%;
    flex: none;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}

.imgGallery{
    width:100px;
    height: 100px;
    object-fit: cover;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.card {
display: inline-block;
width:100px;
height: 100px;
vertical-align: top;
margin-left:5px;
}

.camera-btn{
    width:70px;
    height:70px;
    padding:10px;
    border-radius: 36px;
    color:white;
}
.divButtons{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}
.img-camera-btn{
    width:50px;
    height: 50px;
}

virtual-scroller {
    display: block;
    width: 350px;
    height: 200px;
  }